interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2
  response:
    body: {string: "{\"pageSize\":\"15\",\"pageRowStart\":\"0\",\"pageNumber\":null,\"\
        recordCount\":123,\"records\":[{\"id\":70155909,\"text\":\"70155909 - 2016\
        \ - Will it rise or will it fall? Managing the complex effects of urbanization\
        \ on base flow\",\"interactions\":[],\"lastModifiedDate\":\"2016-01-28T10:43:04\"\
        ,\"indexId\":\"70155909\",\"displayToPublicDate\":\"2016-01-28T11:30\",\"\
        publicationYear\":\"2016\",\"publicationType\":{\"id\":2,\"text\":\"Article\"\
        },\"publicationSubtype\":{\"id\":10,\"text\":\"Journal Article\"},\"seriesTitle\"\
        :{\"id\":1699,\"text\":\"Freshwater Science\",\"active\":true,\"publicationSubtype\"\
        :{\"id\":10}},\"title\":\"Will it rise or will it fall? Managing the complex\
        \ effects of urbanization on base flow\",\"docAbstract\":\"<p>Sustaining natural\
        \ levels of base flow is critical to maintaining ecological function as stream\
        \ catchments are urbanized. Research shows a variable response of stream base\
        \ flow to urbanization, with base flow or water tables rising in some locations,\
        \ falling in others, or elsewhere remaining constant. The variable baseflow\
        \ response is due to the array of natural (e.g., physiographic setting and\
        \ climate) and anthropogenic (e.g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=2
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"25\",\"pageNumber\":\"\
        2\",\"recordCount\":123,\"records\":[{\"id\":70103075,\"text\":\"70103075\
        \ - 2015 - Age, growth rates, and paleoclimate studies of deep sea corals\"\
        ,\"interactions\":[],\"lastModifiedDate\":\"2016-01-26T09:29:06\",\"indexId\"\
        :\"70103075\",\"displayToPublicDate\":\"2015-05-28T10:34\",\"publicationYear\"\
        :\"2015\",\"publicationType\":{\"id\":18,\"text\":\"Report\"},\"publicationSubtype\"\
        :{\"id\":4,\"text\":\"Other Government Series\"},\"title\":\"Age, growth rates,\
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=3
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"50\",\"pageNumber\":\"\
        3\",\"recordCount\":123,\"records\":[{\"id\":70156893,\"text\":\"70156893\
        \ - 2012 - Nonsteroidal anti-inflammatory drugs in raptors\",\"interactions\"\
        :[],\"lastModifiedDate\":\"2016-01-26T15:32\",\"indexId\":\"70156893\",\"\
        displayToPublicDate\":\"2012-01-01T00:00\",\"publicationYear\":\"2012\",\"\
        publicationType\":{\"id\":5,\"text\":\"Book chapter\"},\"publicationSubtype\"\
        :{\"id\":24,\"text\":\"Book Chapter\"},\"title\":\"Nonsteroidal anti-inflammatory\
        \ drugs in raptors\",\"largerWorkType\":{\"id\":4,\"text\":\"Book\"},\"largerWorkTitle\"\
        :\"Fowler's zoo and wild animal medicine: current therapy\",\"language\":\"\
        English\",\"publisher\":\"Saunders\",\"publisherLocation\":\"Philadelphia,\
        \ Pa.; London\",\"doi\":\"10.1016/B978-1-4377-1986-4.00046-9\",\"productDescription\"\
        :\"18 p.\",\"startPage\":\"349\",\"endPage\":\"356\",\"onlineOnly\":\"N\"\
        ,\"additionalOnlineFiles\":\"N\",\"costCenters\":[{\"id\":456,\"text\":\"\
        National Wildlife Health Center\"}],\"links\":[{\"id\":307781,\"type\":{\"\
        id\":24,\"text\":\"Thumbnail\"},\"url\":\"http://pubs.er.usgs.gov/thumbnails/outside_thumb.jpg\"\
        }],\"contributors\":{\"editors\":[{\"text\":\"Fowler, Murray E.\",\"contributorId\"\
        :113762,\"corporation\":false,\"usgs\":true,\"family\":\"Fowler\",\"given\"\
        :\"Murray E.\",\"id\":571016,\"contributorType\":{\"id\":2,\"text\":\"Editors\"\
        },\"rank\":1},{\"text\":\"Miller, R. Eric\",\"contributorId\":147285,\"corporation\"\
        :false,\"usgs\":false,\"family\":\"Miller\",\"given\":\"R. Eric\",\"id\":571017,\"\
        contributorType\":{\"id\":2,\"text\":\"Editors\"},\"rank\":2}],\"authors\"\
        :[{\"text\":\"Oaks, J. Lindsay\",\"contributorId\":147286,\"corporation\"\
        :false,\"usgs\":false,\"family\":\"Oaks\",\"given\":\"J. Lindsay\",\"id\"\
        :571014,\"contributorType\":{\"id\":1,\"text\":\"Authors\"},\"rank\":1},{\"\
        text\":\"Meteyer, Carol Uphoff\",\"contributorId\":78079,\"corporation\":false,\"\
        usgs\":true,\"family\":\"Meteyer\",\"given\":\"Carol Uphoff\",\"id\":571015,\"\
        contributorType\":{\"id\":1,\"text\":\"Authors\"},\"rank\":2}]}},{\"id\":70003681,\"\
        text\":\"70003681 - 2011 - Model and parametric uncertainty in source-based\
        \ kinematic models of earthquake ground motion\",\"interactions\":[],\"lastModifiedDate\"\
        :\"2016-01-27T15:42:35\",\"indexId\":\"70003681\",\"displayToPublicDate\"\
        :\"2011-12-02T00:00\",\"publicationYear\":\"2011\",\"publicationType\":{\"\
        id\":2,\"text\":\"Article\"},\"publicationSubtype\":{\"id\":10,\"text\":\"\
        Journal Article\"},\"seriesTitle\":{\"id\":1135,\"text\":\"Bulletin of the\
        \ Seismological Society of America\",\"active\":true,\"publicationSubtype\"\
        :{\"id\":10}},\"title\":\"Model and parametric uncertainty in source-based\
        \ kinematic models of earthquake ground motion\",\"docAbstract\":\"<p>Four\
        \ independent ground-motion simulation codes are used to model the strong\
        \ ground motion for three earthquakes: 1994 <i>M<sub>w</sub></i> 6.7 Northridge,\
        \ 1989 <i>M<sub>w</sub></i> 6.9 Loma Prieta, and 1999 <i>M<sub>w</sub></i>\
        \ 7.5 Izmit. These 12 sets of synthetics are used to make estimates of the\
        \ variability in ground-motion predictions. In addition, ground-motion predictions\
        \ over a grid of sites are used to estimate parametric uncertainty for changes\
        \ in rupture velocity. We find that the combined model uncertainty and random\
        \ variability of the simulat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=4
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"75\",\"pageNumber\":\"\
        4\",\"recordCount\":123,\"records\":[{\"id\":70162621,\"text\":\"70162621\
        \ - 1998 - Thermally induced chronic developmental stress in coho salmon:\
        \ Integrating measures of mortality, early growth and fluctuating asymmetry\"\
        ,\"interactions\":[],\"lastModifiedDate\":\"2016-01-27T10:54:39\",\"indexId\"\
        :\"70162621\",\"displayToPublicDate\":\"2015-09-15T00:00\",\"publicationYear\"\
        :\"1998\",\"publicationType\":{\"id\":2,\"text\":\"Article\"},\"publicationSubtype\"\
        :{\"id\":10,\"text\":\"Journal Article\"},\"seriesTitle\":{\"id\":2939,\"\
        text\":\"Oikos\",\"active\":true,\"publicationSubtype\":{\"id\":10}},\"title\"\
        :\"Thermally induced chronic developmental stress in coho salmon: Integrating\
        \ measures of mortality, early growth and fluctuating asymmetry\",\"docAbstract\"\
        :\"<p><span>Developmental stability, or homeostasis, facilitates the production\
        \ of consistent phenotypes by buffering against stress. Fluctuating asymmetry\
        \ is produced by developmental instability and is manifested as small random\
        \ departures from bilateral symmetry. Increased fluctuating asymmetry is thought\
        \ to parallel compromised fitness, in part, because stress promotes energy\
        \ dissipation. Compensatory energy expenditures within the organism are requ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=6
  response:
    body: {string: !!python/unicode '{"pageSize":"25","pageRowStart":"125","pageNumber":"6","recordCount":123,"records":[]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
