interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2
  response:
    body: {string: "{\"pageSize\":\"15\",\"pageRowStart\":\"0\",\"pageNumber\":null,\"\
        recordCount\":40,\"records\":[{\"id\":70159779,\"text\":\"ofr20151227 - 2015\
        \ - A framework for decision points to trigger adaptive management actions\
        \ in long-term incidental take permits\",\"interactions\":[],\"lastModifiedDate\"\
        :\"2015-12-03T08:41:33.000\",\"indexId\":\"ofr20151227\",\"displayToPublicDate\"\
        :\"2015-12-02T18:00:00.000\",\"publicationYear\":\"2015\",\"publicationType\"\
        :{\"id\":18,\"text\":\"Report\"},\"publicationSubtype\":{\"id\":5,\"text\"\
        :\"USGS Numbered Series\"},\"seriesTitle\":{\"id\":330,\"text\":\"Open-File\
        \ Report\",\"onlineIssn\":\"2331-1258\",\"printIssn\":\"0196-1497\"},\"seriesNumber\"\
        :\"2015-1227\",\"title\":\"A framework for decision points to trigger adaptive\
        \ management actions in long-term incidental take permits\",\"docAbstract\"\
        :\"<h1>Introduction</h1>\\n<p>The U.S. Fish and Wildlife Service (USFWS) has\
        \ begun to issue incidental take permits (ITPs) to wind power companies to\
        \ allow limited take of bird and bat species that are protected under the\
        \ Endangered Species Act, the Bald and Golden Eagle Protection Act, or the\
        \ Migratory Bird Treaty Act (Huso and others, 2015). Expected take rates are\
        \ determined using scientifically based collision-risk models and knowledge\
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=2
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"25\",\"pageNumber\":\"\
        2\",\"recordCount\":40,\"records\":[{\"id\":70041721,\"text\":\"ds729 - 2012\
        \ - Fatality estimator user\u2019s guide\",\"interactions\":[],\"lastModifiedDate\"\
        :\"2015-12-03T08:32:33.000\",\"indexId\":\"ds729\",\"displayToPublicDate\"\
        :\"2012-12-11T00:00:00.000\",\"publicationYear\":\"2012\",\"publicationType\"\
        :{\"id\":18,\"text\":\"Report\"},\"publicationSubtype\":{\"id\":5,\"text\"\
        :\"USGS Numbered Series\"},\"seriesTitle\":{\"id\":310,\"text\":\"Data Series\"\
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=3
  response:
    body: {string: !!python/unicode '{"pageSize":"25","pageRowStart":"50","pageNumber":"3","recordCount":40,"records":[]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
